<div class="row">
    <div class="col-md-12">
        <div class="row p-2 mt-2 mb-2">
            <div class="col-md-12">
                <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:18px;">{{ data.section_title }}</h2>
            </div>
        </div>
        <table>
         <tbody>
           <tr  class="p-2" *ngFor="let m of data.options"> 
                <td *ngIf="m.DISPLAY_LEVEL!='0'" style="font-size:12px;" [innerHTML]="m.OPTION_DSC"></td>
                <td *ngIf="m.DISPLAY_LEVEL=='0'" class="border-primary" style="font-size:16px;" [innerHTML]="m.OPTION_DSC"></td>
                <td *ngIf="m.DISPLAY_LEVEL!='0'" (click)="buttonClick(m);">(+)</td>
                <td *ngIf="m.DISPLAY_LEVEL=='0'"></td>
            </tr> 
          </tbody> 
        </table>
    </div>
</div>
