<div class="row">
    <div class="col-md-12">
        <div class="row p-2 mt-2 mb-2">
            <div class="col-md-12">
                <h2>{{ title }}</h2>
            </div>
        </div>
        <div *ngIf="list.length>0" class="row m-1 p-3">
            <div class="col-lg-6">
                Search: <input style="max-width:320px;" class="form-control" type="text" id="term" name="term" [(ngModel)]="term"> 
            </div>
        </div>
        <table class="table table-condensed table-striped" *ngIf="list.length>0">
         <tbody>
           <tr  class="p-1" *ngFor="let m of list | filter: term | paginate: { currentPage: p , itemsPerPage: 10 }"> 
                    <td [innerHTML]="m['SHORT_NAME']" class="p-1"></td>
                    <td>
                        <button style="width:80px;" class="btn btn-dark m-1" (click)="include(m);">(+)</button>
                        <button style="width:80px;" class="btn btn-dark m-1" (click)="exclude(m);">(-)</button>
                    </td>
            </tr> 
          </tbody> 
        </table>
       <div>
            <paging-controls *ngIf="list.length>0" (pageChange)="p = $event" [isItemsPerPage]="false"  
            class="my-pagination"></paging-controls> 
        </div> 
    </div>
</div>
