<div class="container-fluid p-3" style="background-color: lightgrey">
    <div class="row" style="background-color:lightgray">
        <div class="col-md-12 pb-2">
            <div class="row" style="background-color: lightgray">
                <div class="col-md-12 pt-3">
                    <h2>Add/Edit Selection Criteria</h2>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Category ID</div>
                <div class="col-md-9">
                    <input type="text" [(ngModel)]="formData['WEIGHT_ID']" id="weight_id" name="weight_id" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Description</div>
                <div class="col-md-9">
                    <input type="text" id="OPTION_DSC" [(ngModel)]="formData['OPTION_DSC']" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Short Name</div>
                <div class="col-md-9">
                    <input type="text" id="SHORT_NAME" [(ngModel)]="formData['SHORT_NAME']" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Option ID</div>
                <div class="col-md-9">
                    <input type="text" id="OPTIONID" [(ngModel)]="formData['OPTIONID']" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Display Level</div>
                <div class="col-md-9">
                    <select type="text" id="LVL" [(ngModel)]="formData['DISPLAY_LEVEL']" class="form-control">
                        <option value="0">0 (Header)</option>
                        <option value="1">1 (Option)</option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Option Order</div>
                <div class="col-md-9">
                    <input type="text" id="OPTION_ORDER" [(ngModel)]="formData['OPTION_ORDER']" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Option Type</div>
                <div class="col-md-9">
                    <select type="text" id="LN" [(ngModel)]="formData['OPTION_TYPE']" class="form-control">
                        <option value="OPTION">OPTION (Formoptions)</option>
                        <option value="FILTER">FILTER</option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Option Source</div>
                <div class="col-md-9">
                    <select type="text" id="LN" [(ngModel)]="formData['OPTION_SOURCE']" class="form-control">
                        <option value="SET">SET</option>
                        <option value="RECORD">RECORD</option>
                    </select>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button (click)="postForm();" type="submit" class="btn btn-primary">Save</button>
                    <button (click)="hideForm();" type="submit" class="btn btn-warning">Close</button>
                    </div>
            </div>        
        </div>  
</div>