<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header border" id="flush-headingOne">
        <button class="accordion-button collapsed" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#flush-collapseOne" 
            aria-expanded="false" aria-controls="flush-collapseOne">
          <span style="font-family:Arial, Helvetica, sans-serif">Facility Information</span>
        </button>
      </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div (click)="pressButton('FACILITY');" class="btn btn-light border" style="width:100%; text-align: left;">Facility Background</div>
                <div (click)="pressButton('FSA');" class="btn btn-light border" style="width:100%; text-align: left;">Assessment Data</div>
                <div (click)="pressButton('BSA');" class="btn btn-light border" style="width:100%; text-align: left;">Asset Data</div>
                <div (click)="pressButton('TEST');" class="btn btn-light border" style="width:100%; text-align: left;">Functionality Tests</div>
            </div>
    </div>
  </div>