<div class="container-fluid p-3" style="background-color: lightgrey">
    <div class="row" style="background-color:lightgray">
        <div class="col-md-3"></div>
        <div class="col-md-6 pb-2">
            <div class="row" style="background-color: lightgray">
                <div class="col-md-12 pt-3">
                    <h2>Add/Edit Tenant Group</h2>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Tenant Group</div>
                <div class="col-md-9">
                    <input type="text" [(ngModel)]="formData['TENANT_GROUP']" id="tenant_group" name="tenant_group" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Group Name</div>
                <div class="col-md-9">
                    <input type="text" id="GROUP_NAME" [(ngModel)]="formData['GROUP_NAME']" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">IN/LIKE</div>
                <div class="col-md-9">
                    <select type="text" id="LN" [(ngModel)]="formData['LN']" class="form-control">
                        <option value="IN">IN</option>
                        <option value="LIKE">LIKE</option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3">Agencies:</div>
                <div class="col-md-2">
                    <input type="text" id="AGENCY_1" [(ngModel)]="formData['AGENCY_1']" class="form-control">
                </div>
                <div *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_2" [(ngModel)]="formData['AGENCY_2']" class="form-control">
                </div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_3" [(ngModel)]="formData['AGENCY_3']" class="form-control">
                </div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_4" [(ngModel)]="formData['AGENCY_4']" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3"></div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_5" [(ngModel)]="formData['AGENCY_5']" class="form-control">
                </div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_6" [(ngModel)]="formData['AGENCY_6']" class="form-control">
                </div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_7" [(ngModel)]="formData['AGENCY_7']" class="form-control">
                </div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_8" [(ngModel)]="formData['AGENCY_8']" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-3"></div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_9" [(ngModel)]="formData['AGENCY_9']" class="form-control">
                </div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_10" [(ngModel)]="formData['AGENCY_10']" class="form-control">
                </div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_11" [(ngModel)]="formData['AGENCY_11']" class="form-control">
                </div>
                <div  *ngIf="formData['LN']=='IN'" class="col-md-2">
                    <input type="text" id="AGENCY_12" [(ngModel)]="formData['AGENCY_12']" class="form-control">
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button (click)="postForm();" type="submit" class="btn btn-primary">Save</button>
                    <button (click)="hideForm();" type="submit" class="btn btn-warning">Close</button>
                    </div>
            </div>        
        </div>  
</div>