        <app-local-top-navbar [id]="page_id" [data]="data"></app-local-top-navbar>
        <div class="row">
            <div class="col-md-3">
                <app-filter-accordion [id]="page_id" (buttonPressed)="getCriteriaCategory($event)"></app-filter-accordion>
            </div>
            <div class="col-md-9">
                <div class="col-md-12 p-3">
                    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 32px;">Facility Filters</h1>
                    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">Select a Category</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 p-2">
                        <app-filters-panel [data]="data" (buttonClicked)="selectCriteria($event)"></app-filters-panel>
                    </div>
                    <div class="col-md-5">
                        <app-count-panel [data]="data"></app-count-panel>
                        <app-select-filter-form [data]="data" (getData)="deleteCriteria($event)"></app-select-filter-form>
                        <app-filters-panel [data]="data"></app-filters-panel>
                        <app-columns-panel [data]="data"></app-columns-panel>
                    </div>
                </div>
            </div>
        </div>