        <div class="app-local-top-navbar" [id]="page_id" [data]="data"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card mt-2">
                <div class="card-header">
                    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">Filter Categories</h2>
                </div>
                <div class="card-body">
                    <div class="app-filter-accordion" [data]="data" (getData)="getAllData($event)"></div>
                </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-md-12 p-3">
                    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 32px;">Facility Filters</h1>
                    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">Select a Category</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 p-2">
                        <div class="app-filter-selection" [data]="data" (getData)="getData($event)"></div>
                    </div>
                    <div class="col-md-5">
     
                    </div>
                </div>
            </div>
        </div>