        <div class="app-local-top-navbar" [id]="page_id" [data]="data"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card mt-2">
                    <div class="card-header">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">Building Data Categories</h2>
                    </div>
                    <div class="card-body">
                        <div class="app-column-accordion" (getData)="getData($event)"></div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">Dataframe Features Categories</h2>
                    </div>
                    <div class="card-body">
                        <div class="app-features-output-accordion"  (buttonPressed)="getCriteriaCategory($event)"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-md-12 p-3">
                    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 32px;">Column Selection</h1>
<!--                    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">Select report columns</h2> -->
                </div>
                <div class="row">
                    <div class="col-md-6 p-2">
                        <div *ngIf="data.options.length>0">
                            <div class="app-select-columns-form" [data]="data" (getData)="getData($event)"></div>
                        </div>
                        <div *ngIf="data.options2.length>0">
                         </div>
                    </div>
                    <div class="col-md-5">
                        <div class="app-count-panel" [data]="data"></div>
                        <div class="app-selections-panel" [data]="data" (getData)="getData($event)"></div>
                        <div class="app-filters-panel" [data]="data" (getData)="getData($event)"></div>
                        <div class="app-columns-panel" [data]="data" (getData)="getData($event)"></div>
                    </div>
                </div>
            </div>
        </div>