<div class="card my-2">
    <div class="card-header">
        Report Name
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-7"><input class="form-control" type="text"></div>
            <div class="col-xl-5"> <button class="btn btn-dark">Save Search</button></div>
        </div>
    </div>
</div>
<div class="card my-2">
    <div class="card-header">
        Saved Searches
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-12">
                No Saved Searches
            </div>                          
        </div>
    </div>
</div>