<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header border" id="flush-headingOne">
        <button class="accordion-button collapsed" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#flush-collapseOne" 
            aria-expanded="false" aria-controls="flush-collapseOne">
          <span style="font-family:Arial, Helvetica, sans-serif">Location</span>
        </button>
      </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div (click)="pressButton('REGION');" class="btn btn-light border" style="width:100%; text-align: left;">Regions</div>
                <div (click)="pressButton('STATE');" class="btn btn-light border" style="width:100%; text-align: left;">States</div>
                <div (click)="pressButton('CITY');" class="btn btn-light border" style="width:100%; text-align: left;">Cities</div>
                <div (click)="pressButton('ZIPCODE');" class="btn btn-light border" style="width:100%; text-align: left;">Zip Codes</div>
                <div (click)="pressButton('DISTRICT');" class="btn btn-light border" style="width:100%; text-align: left;">Districts / Areas</div>
            </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header border" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <span style="font-family:Arial, Helvetica, sans-serif">Building</span>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
 <div class="accordion-body">
    <div (click)="pressButton('BUILDINGNY');" class="btn btn-light border" style="width:100%; text-align: left;">Building Y/N</div>
    <div (click)="pressButton('BUILDINGTYPE');" class="btn btn-light border" style="width:100%; text-align: left;">Building Type</div>
    <div (click)="pressButton('OWNERSHIP');" class="btn btn-light border" style="width:100%; text-align: left;">Ownership</div>
    <div (click)="pressButton('CAMPUS');" class="btn btn-light border" style="width:100%; text-align: left;">Campus Y/N</div>
    <div (click)="pressButton('ELEVATOR');" class="btn btn-light border" style="width:100%; text-align: left;">Elevator Manufacturer</div>
    <div (click)="pressButton('ESCALATOR');" class="btn btn-light border" style="width:100%; text-align: left;">Escalator Manufacturer</div>
    <div (click)="pressButton('VENDOR');" class="btn btn-light border" style="width:100%; text-align: left;">Equipment Vendor</div>        
    <div (click)="pressButton('FACILITYTYPE');" class="btn btn-light border" style="width:100%; text-align: left;">Facility Type</div>
    <div (click)="pressButton('RESPONSIBLE');" class="btn btn-light border" style="width:100%; text-align: left;">FSA Responsible</div>
    <div (click)="pressButton('ACTIVE');" class="btn btn-light border" style="width:100%; text-align: left;">Active</div>
</div>
    </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <span style="font-family:Arial, Helvetica, sans-serif">Other</span>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div (click)="pressButton('FSL');" class="btn btn-light border" style="width:100%; text-align: left;">FSL</div>
            <div (click)="pressButton('INSPECTOR');" class="btn btn-light border" style="width:100%; text-align: left;">Inspector</div>
            <div (click)="pressButton('AC');" class="btn btn-light border" style="width:100%; text-align: left;">Area Commander</div>
            <div (click)="pressButton('DC');" class="btn btn-light border" style="width:100%; text-align: left;">District Commander</div>
            <div (click)="pressButton('TENANT');" class="btn btn-light border" style="width:100%; text-align: left;">Tenants</div>
            <div (click)="pressButton('SECURITYFEE');" class="btn btn-light border" style="width:100%; text-align: left;">Basic Security Fee</div>
            <div (click)="pressButton('DAGENCY');" class="btn btn-light border" style="width:100%; text-align: left;">Delegation Agency</div>
            <div (click)="pressButton('DELETYPE');" class="btn btn-light border" style="width:100%; text-align: left;">Delegation Type</div>
            <div (click)="pressButton('FSAYEAR');" class="btn btn-light border" style="width:100%; text-align: left;">FSA Schedule</div>
         </div>
    </div>
    </div>
  </div>